upstream appserver_{{ django_user }} {
    server 127.0.0.1:{{ django_appserver_port }};
}

server {
    server_name  www.{{ django_hostname }};
    return 301 https://{{ django_hostname }}$request_uri;
    listen        {{ django_nginx_http_port }};
    listen        {{ django_nginx_https_port }} ssl;
}

server {
  server_name  {{ django_hostname }};
  listen        {{ django_nginx_http_port }};
  return 301 https://{{ django_hostname }}$request_uri;
}

server {
  listen        {{ django_nginx_https_port }} {%  if django_set_as_default_https_in_nginx %}default{% endif %} ssl;
  server_name 	{{ django_hostname }} {{ django_hostname_aliases|default("") }};
  access_log  	/var/log/nginx/{{ django_hostname }}-access.log;
  error_log    	/var/log/nginx/{{ django_hostname }}-error.log;

  ## Deny illegal Host headers
  if ($host !~* ^({{ django_hostname }}|www.{{ django_hostname }})$ ) {
      return 444;
  }

  error_page 497 https://$host:{{ django_nginx_https_port }}$request_uri;

  location /static {
    alias {{ django_home_dir }}/env/lib/python{{ django_python_version }}/site-packages/django_bpp/staticroot;
    expires 30d;
  }

  error_page 404 /404.html;

  location /404.html {
    root {{ django_home_dir }}/env/lib/python{{ django_python_version }}/site-packages/bpp/templates/;
    internal;
  }

  error_page 403 /403.html;

  location /403.html {
    root {{ django_home_dir }}/env/lib/python{{ django_python_version }}/site-packages/bpp/templates/;
    internal;
  }

  error_page 500 /50x.html;
  error_page 502 /50x.html;
  error_page 503 /50x.html;
  error_page 504 /504.html;

  location /50x.html {
    root {{ django_home_dir }}/env/lib/python{{ django_python_version }}/site-packages/bpp/templates/;
    internal;
  }

   location / {
      try_files $uri @proxy_to_app;
   }

   location @proxy_to_app {
        proxy_pass http://appserver_{{ django_user }};

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Forwarded-Proto $scheme;
   }

  location /media {
    alias {{ django_media_root }}/;
    expires 1d;
  }

  ssl_certificate         /etc/ssl/private/{{ django_hostname }}.cert;
  ssl_certificate_key     /etc/ssl/private/{{ django_hostname }}.key;
  ssl_session_timeout     30m;

  gzip            on;
  gzip_static     on;
  gzip_min_length 1000;
  gzip_proxied    expired no-cache no-store private auth;
  gzip_types      text/plain text/css application/json application/x-javascript application/javascript text/xml application/xml application/xml+rss text/javascript;
}

