[program:celery-worker-{{ django_hostname }}]
command={{ django_home_dir }}/vexec {{ django_venv_dir }}/bin/celery
    -A django_bpp.celery_tasks worker
    --pidfile={{ django_home_dir }}/celeryworker.pid
user={{ django_user }}
autostart=true
autorestart=true
numprocs=1
environment=USER="{{ django_user }}"
stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-worker-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-worker-stderr
directory={{ django_home_dir }}

[program:denorm-queue-{{ django_hostname }}]
command={{ django_home_dir }}/vexec bpp-manage.py denorm_queue
user={{ django_user }}
autostart=true
autorestart=true
numprocs={{ ansible_processor_nproc }}
process_name=denorm-queue-%(process_num)d
environment=USER="{{ django_user }}"
stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/denorm-queue-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/denorm-queue-stderr
directory={{ django_home_dir }}

[program:celery-beat-{{ django_hostname }}]
command={{ django_home_dir }}/vexec {{ django_venv_dir }}/bin/celery
    -A django_bpp.celery_tasks beat
    --pidfile={{ django_home_dir }}/celerybeat.pid
    -s {{ django_home_dir }}/celerybeat-schedule
user={{ django_user }}
autostart=true
autorestart=true
numprocs=1
environment=USER="{{ django_user }}"
stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-beat-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-beat-stderr
directory={{ django_home_dir }}

[fcgi-program:appserver-{{ django_hostname }}]
user={{ django_user }}
autostart=true
autorestart=true
environment=USER="{{ django_user }}"
directory={{ django_home_dir }}
socket=tcp://localhost:{{ django_appserver_port }}
numprocs={{ ansible_processor_nproc }}
process_name=uvicorn-%(process_num)d
command={{ django_home_dir }}/vexec {{ django_venv_dir }}/bin/uvicorn --fd 0 --limit-max-requests 2048 django_bpp.asgi:application
stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/appserver-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/appserver-stderr
